# Below are from GitHub's official Python .gitignore template
__pycache__/
*.py[cod]
*$py.class

*.tsv
.idea/
secrets/
gdrive_sa_credentials.json

# Coverage files
.coverage
coverage.xml
htmlcov/
test_adequacy_scores.json

/metrics.json

